<md-input-container>
  <label>Host</label>
  <input ng-model="config.host" required>
</md-input-container>

<md-input-container>
  <label>Port</label>
  <input ng-model="config.port" required>
</md-input-container>

<md-input-container ng-show="data.cb_auth">
  <label>Username</label>
  <input ng-model="config.username">
</md-input-container>

<md-input-container ng-show="data.cb_auth">
  <label>Password</label>
  <input ng-model="config.password" type="password">
</md-input-container>

<md-input-container ng-show="data.cb_clientId">
  <label>clientId</label>
  <input ng-model="config.clientId" type="text" required>
</md-input-container>

<div class="cmmc-checkboxes" flex="100">
  <md-checkbox aria-labelledby="label" ng-init="data.cb_auth=false" ng-model="data.cb_auth" aria-label="Checkbox 2"
               class="md-warn md-align-top-left">
    <!-- {{ data.cb_auth }} -->
    username & password
  </md-checkbox>
</div>

<div class="cmmc-checkboxes" flex="100">
  <md-checkbox ng-model="data.cb_clientId" aria-label="Checkbox 2" class="md-warn md-align-top-left">
    <!-- {{ data.cb_clientId }} -->
    clientId
  </md-checkbox>
</div>

<div class="cmmc-checkboxes" flex="100">
  <md-checkbox ng-model="data.ssl" aria-label="SSL" class="md-warn md-align-top-left">
    SSL
  </md-checkbox>
</div>

<md-input-container>
  <md-button class="md-raised">Save</md-button>
  <md-button class="md-raised md-warn" ng-click="closeNav()">Cancel</md-button>
</md-input-container>
