<md-content layout-fill>
  <header>
    <my-nav-bar creationDate="main.creationDate"/>
  </header>
  <section class="main-section" md-dynamic-height>
    <div layout="row" layout-align="end center">

      <div layout="row" flex="100" layout-align="end bottom">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Filter device</label>
          <input ng-model="filterDevice.name">
        </md-input-container>

        <md-input-container>
          <md-select aria-label="online status" name="onlineStatus" ng-model="onlineStatus" required>
            <md-option value="ALL">All devices ({{ main.system.all_devices || 0 }})</md-option>
            <md-option value="ONLINE">Online ({{ main.system.online_devices}})</md-option>
            <md-option value="DEAD">Offline ({{ main.system.offline_devices}})</md-option>
          </md-select>
        </md-input-container>

        <md-button ng-click="toggleRight()" class="md-primary">
          Config
        </md-button>
        <md-button ng-click="reset()" class="md-danger">
          RESET
        </md-button>

      </div>
      <sidebar-mqtt-config></sidebar-mqtt-config>
    </div>

    <!--<md-content  flex layout-padding layout-align="center">-->
    <!--{{ status }}-->
    <!--</md-content>-->

    <div class="devices" layout-align="center">
      <!--<div>{{ main.devices }}</div>-->
      <!--<div>{{ main.LWT }}</div>-->
      <div ng-hide="main.system">Connecting...</div>
      <!--<div>{{ config.host }}:{{config.port}}</div>-->
      <!--<div class="item-container" flex-auto ng-show="main.system">-->
      <!--SYSTEM = {{ main.system }}-->
      <!--</div>-->
      <md-card ng-class="main.LWT[device.info.client_id]" class="item" ng-class="device.status"
               ng-repeat="(key, device) in main.devices | name:filterDevice.name | status:onlineStatus | orderBy:'status'">

        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ device.d.myName }}</span>
          </md-card-title-text>
        </md-card-title>
        <md-content layout-padding>
          <div class="thumbnail" flex="100" layout="column" layout-align="center center">
            <!--<div>[client Id => {{device.info.client_id}}]</div>-->
            <!--<div>[ONLINE? => {{ main.LWT[device.info.client_id] }}]</div>-->
            <!--<div ng-show="{{ device.info.id !='' || device.d.id != ''}}">{{ device.info.id || device.d.id }}</div>-->
            <div>{{ device.d.counter }} ({{ device.d.millis/1000}} ms)</div>
            <div>{{ device.d.ip || device.info.ip }}</div>
            <div>{{device.info.prefix}}/{{ device.info.device_id || device.d.device_id }}/status</div>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-click="showDetail($event, key)">Detail</md-button>
          </div>
        </md-content>
      </md-card>
    </div>
  </section>

  <div ng-init="showFirstPopup($event)"></div>


</md-content>

