<md-content layout-fill>
  <header>
    <my-nav-bar creationDate="main.creationDate"/>
  </header>
  <section class="main-section" md-dynamic-height>
    <div layout="row" layout-align="end center">

      <div layout="row" flex="100" layout-align="end bottom">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Filter device</label>
          <input ng-model="filterDevice.name">
        </md-input-container>
        <md-input-container>
          <md-select aria-label="online status" name="onlineStatus" ng-model="onlineStatus" required>
            <md-option value="ALL">ALL DEVICES ({{ main.LWT_COUNT.ALL }})</md-option>
            <md-option value="ONLINE">ONLINE ({{ main.LWT_COUNT.ONLINE }})</md-option>
            <md-option value="DEAD">DEAD ({{ main.LWT_COUNT.DEAD }})</md-option>
          </md-select>
        </md-input-container>

        <md-button ng-click="toggleRight()" class="md-primary">
          Config
        </md-button>
        <md-button ng-click="reset()" class="md-danger">
          RESET
        </md-button>

      </div>
      <sidebar-mqtt-config></sidebar-mqtt-config>
    </div>

    <md-content flex layout-padding layout-align="center">
      {{ status }}
    </md-content>
    <md-grid-list
      md-cols-xs="1" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4"
      md-row-height-gt-md="1:1" md-row-height="2:2"
      md-gutter="12px" md-gutter-gt-sm="8px">

      <md-grid-tile
        md-rowspan="1" md-colspan="1"
        ng-class="device.status"
        ng-repeat="(key, device) in main.devices | name:filterDevice.name | status:onlineStatus | orderBy:'status'">
        <md-card ng-class="main.LWT[device.info.client_id]" class="item" ng-class="device.status">
          <!--<md-card-title>-->
          <!--<md-card-title-text>-->
          <!--<span class="md-headline">{{ device.d.myName }}</span>-->
          <!--</md-card-title-text>-->
          <!--</md-card-title>-->
          <md-content layout-padding>
            <div layout="row">
              <div flex="100"><b>{{device.d.myName}}</b></div>
            </div>
            <div layout="row">
              <div flex="40">
                ip
              </div>
              <div flex="60">
                {{ device.info.ip }}
              </div>
            </div>
            <div layout="row">
              <div flex="40">
                heap
              </div>
              <div flex="60">
                {{device.d.heap/1000}} kB
              </div>
            </div>
            <div layout="row">
              <div flex="40">
                run time
              </div>
              <div flex="60">
                {{ ((device.d.millis/1000*24)/(86400)).toFixed(5) }} hours
              </div>
            </div>
            <div layout="row">
              <div flex="40">
                prefix
              </div>
              <div flex="60">
                {{device.info.prefix}}/{{ device.info.device_id || device.d.device_id }}/status
              </div>
            </div>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button ng-click="showDetail($event, key)">Detail</md-button>
            </div>
          </md-content>
        </md-card>
        <!--<md-grid-tile-footer>-->
        <!--&lt;!&ndash;<h3>#{{key}}: {{ device.d.myName }}</h3>&ndash;&gt;-->
        <!--</md-grid-tile-footer>-->
      </md-grid-tile>
    </md-grid-list>
    <!--<div class="devices" layout-align="center">-->
    <!--&lt;!&ndash;<div>{{ main.devices }}</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div>{{ main.LWT }}</div>&ndash;&gt;-->
    <!--<div ng-hide="main.system">Connecting...</div>-->
    <!--&lt;!&ndash;<div>{{ config.host }}:{{config.port}}</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="item-container" flex-auto ng-show="main.system">&ndash;&gt;-->
    <!--&lt;!&ndash;SYSTEM = {{ main.system }}&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  </section>

  <!--<div ng-init="showFirstPopup($event)"></div>-->


</md-content>

