<section>
  <md-sidenav md-dynamic-height class="md-sidenav-right md-whiteframe-z2" md-component-id="right"
              layout-align="start center">
    <md-toolbar class="md-theme-light" layout="row" layout-align="center center">
      Config [Sidebar]
    </md-toolbar>
    <md-content layout-padding class="autoScroll" md-dynamic-height>
      <form name="newConfig" ng-submit="save(config)">
        <div ng-include="'app/main/partials/_form_item.html'"></div>
        <md-input-container>
    </md-content>

  </md-sidenav>
</section>
